<a href="https://colab.research.google.com/github/eduardoalsilva/problemas-praticos-com-python/blob/main/problema_pratico_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Escreva as expressões algébricas para os seguintes comandos:

## a) A soma dos 5 primeiros inteiros positivos

In [20]:
soma1 = 0
for i in range(1,6):
  soma1 += i
  
print(soma1)

15

In [21]:
def somador(n):
  soma = 0
  for i in range(1,n+1):
    soma += i
  return soma

print(somador(5))

15

## b) A idade média de Sara (23), Mark (19) e Fátima (31)

In [33]:
mean = (23 + 19 + 31) / 3
mean

24.333333333333332

## c) O número de vezes que 73 cabe em 403

In [34]:
403 // 73

5

## d) O resto de 403 dividido por 73

In [35]:
403 % 73

38

## e) 2 elevado a 10

In [36]:
2 ** 10

1024

## f) O valor absoluto da distância entre a altura de Sara (54 polegadas) e a altura de Mark (57 polegadas)

In [37]:
abs(54 - 57)

3

## g) O menor preço entre os seguintes valores: R\$ 34.99, R\$ 29.95 e R\$ 31.50

In [38]:
min(34.99, 29.95, 31.5)

29.95